<footer class="bg-gray-100 py-8">
  <div class="container mx-auto flex justify-between">
      <div class="flex-1">
          <div class="footer-left-container mb-4">
              <p>Un contenu de footer côté gauche</p>
              <p>Un autre contenu de footer côté gauche</p>
              <p>blabla</p>
              <p>blablabla</p>
          </div>
      </div>
      <div class="flex-1">
          <div class="footer-right-container mb-4">
              <p>Un contenu de footer côté droit </p>
              <p>Un autre contenu de footer côté droit</p>
              <p>blabla</p>
          </div>
      </div>
      <div class="footer-display-mode-button">
          <button class="bg-black text-white font-bold py-2 px-4 rounded">
              Un bouton qui fait rien
          </button>
      </div>
  </div>
</footer>
